<div class="container">
  <div>
    <h1 class="page-header"><%= name %>'s Reminders</h1>
  </div>
  <div>
    <% if (picture !== undefined && picture !== null) { %>
      <img src=<%= picture %> alt="profile picture">
    <% } %>
  </div>
  <div>
    <ul class="list-group">
      <% reminders.forEach(function (reminderItem) { %>
        <li class="list-group-item">
          <strong><%= reminderItem.title %>: </strong>
          <%= reminderItem.description %>
          <br />
          <strong>Completed:</strong>
          <% if (reminderItem.completed == true) { %>
            <span class="badge badge-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="badge badge-danger">False</span>
          <% } %>
          <br />
          <strong>Tags:</strong>
          <% reminderItem.tags.forEach(function (reminderTag) { %>
            <span class="badge badge-primary"><%= reminderTag %></span>
          <% }) %>
          <br />
          <strong>Date:</strong>
          <span><%= reminderItem.date %></span>
          <br />
          <strong>Sub-tasks:</strong>
          <% reminderItem.subtasks.forEach(function (reminderSubTasks) { %>
            <p><%= reminderSubTasks %></p>
          <% }) %>
          <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
        </li>
      <% }) %>
    </ul>
  </div>
  <% if (friendsReminders.length > 0) { %>
    <h1 class="page-header">Friends Reminders</h1>
    <div>
      <ul class="list-group">
        <% friendsReminders.forEach(function (reminderItem) { %>
          <li class="list-group-item">
            <strong><%= reminderItem.title %>: </strong>
            <%= reminderItem.description %>
            <br />
            <strong>Completed:</strong>
            <% if (reminderItem.completed == true) { %>
              <span class="badge badge-success">True</span>
            <% } else if (reminderItem.completed == false) { %>
              <span class="badge badge-danger">False</span>
            <% } %>
            <br />
            <strong>Tags:</strong>
            <% reminderItem.tags.forEach(function (reminderTag) { %>
              <span class="badge badge-primary"><%= reminderTag %></span>
            <% }) %>
            <br />
            <strong>Date:</strong>
            <span><%= reminderItem.date %></span>
            <br />
            <strong>Sub-tasks:</strong>
            <% reminderItem.subtasks.forEach(function (reminderSubTasks) { %>
              <p><%= reminderSubTasks %></p>
            <% }) %>
          </li>
        <% }) %>
      </ul>
    </div>
  <% } %>
  <div>
    <h3>Friend List</h3>
    <% friends.forEach(function (friend) { %>
      <p><%= friend %></p>
    <% }) %>
  </div>
  <form method="POST" action=<%= "/reminder/search" %>>
    <div class="form-group">
      <label for="search">Friend Search</label>
      <input type="text" name="search" class="form-control" id="search" placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
